{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="container">
	 <div class="row categs">
    <div class="col-sm-3 sidebar">
    	<a href="{{url_for('showCatalog')}}"><h1>Categories</h1></a>
    	{% for category in categories %}
		<a href = "{{url_for('showCategory', category = category.name)}}">
						<h4>{{category.name}}</h4>
					
		</a>
	{% endfor %}
    	
  </div>
    <div class="col-sm-9">
    	<h1>Latest items</h1>
    	<a href="{{url_for('newCategory')}}">
				<button class="btn btn-default" id="new-category">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add a Category
				</button>
			</a>
    	{% for i in items %}
		<a href="{{url_for('showItem', category = category.name, item = i.name)}}">
		<h4>
			{{ i.name }}
		</h4>
	</a>
		{% endfor %}
    </div>

  </div>
</div>
{% endblock %}