{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">
	<div class="row categs">
    <div class="col-sm-12">
    	<h1>{{ item.name }}</h1>
	    <h2>{{ item.description }}</h2>
	    <h3>{{ item.price }}</h3>
	<!-- pass item.name as param to prevent object as argument -->
	<a href="{{ url_for('editItem', category=category.name, item=item.name)}}"><span>edit</span></a>
	<a href="{{ url_for('deleteItem', category=category.name, item=item.name)}}"><span>delete</span></a>
    	
  </div>
</div>
</div>
{% endblock %}

