{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner items" >
	<div class="col-md-11 col-md-offset-1 padding-none">
	<h1>{{ item.name }}</h1>
	<h2>{{ item.description }}</h2>
	<h3>{{ item.price }}</h3>
	<a href="{{ url_for('editItem', category=category.name, item=item.name)}}"><span>edit</span></a>
	<a href="{{ url_for('deleteItem', category=category.name, item=item.name)}}"><span>delete</span></a>
</div>
{% endblock %}